.App {
  height: 100%;
  text-align: center;
  background-color: var(--off-white);
}

.App-header {
  min-height: 3em;
  color: var(--dark-royal-blue);
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.nav-text-link {
  width: 100%;
  font-size: calc(10px + 2vmin);
  text-decoration: inherit;
  background-color: var(--almost-teal);
  color: var(--off-tan);
}

.nav-text-link:hover {
  background-color: var(--ocean-eyes);
  color: var(--gift-wrap-purple);
  transition: all ease 1.5s;
}

.App-footer {
  width: 100%;
  height: 50px;
  background-color: var(--british-khaki);
  display: flex;
  flex-direction: relative;
  align-items: center;
  padding-top: relative;
  justify-content: space-between;
  position: relative;
  margin-top: 100%;
}

.App-link {
  color: #61dafb;
}

.App-quiz {
  text-align: center;
}

.App-career-container {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid var(--gift-wrap-purple);
  border-radius: 5px; 
  background-color: var(--ocean-eyes);
}

.App-career-container-o {
  display: block;
  margin: auto;
  max-width: 90%;
  background-color: var(--dawn-dish-blue);
  border: 2px solid var(--dawn-dish-blue);
  border-radius: 0.25em;
}
.quiz-tooltip{
  cursor: pointer;
  color: var(--dawn-dish-blue);
  margin-left: 5px
}

.quiz-drag-drop{
  border: 3px;
  border-color: var(--dark-royal-blue);
  border-width: 2px;
  border-style: none none none solid;
  color: var(--gift-wrap-purple);
  background-color: var(--off-white);
  cursor: move;
  list-style-type: '';
  padding-bottom: 5px;
  padding-top: 5px;
}

.quiz-drag-drop:hover{
  border: 3px;
  border-color: var(--dark-royal-blue);
  border-width: 2px;
  border-style: solid;
  color: var(--off-white);
  background-color: var(--ocean-eyes);
  cursor: move;
  list-style-type: '';
  padding-bottom: 3px;
  padding-top: 3px;
}

/*Styling for the different nav buttons in the app */
.btn-nav-disabled {
  color: var(--dark-royal-blue);
  outline-color: var(--dark-royal-blue);
  outline-width: 2px;
  outline-style: solid;
  margin: 2px
}

.btn-nav {
  color: var(--off-white);
  background-color: var(--dark-royal-blue);
}

.btn-nav:hover{
  background-color: var(--almost-teal);
  color: var(white)
}

/*Styling for the quiz related buttons */
.btn-selected {
  background-color: var(--gift-wrap-purple);
  color: white;
}

.btn-selected:hover {
  background-color: var(--dark-royal-blue);
}

.btn-selected-outlined {
  color: var(--gift-wrap-purple);
  outline-color: var(--gift-wrap-purple);
  background-color: var(--off-white);
  outline-width: 2px;
  outline-style: solid;
}

.btn-selected-outlined:hover {
  background-color: var(--gift-wrap-purple);
  color: var(--off-white);
}

.btn-single-selected {
  background-color: var(--off-white);
  color: var(--diamond-blue);
  outline-color: var(--diamond-blue);
  outline-width: 2px;
  outline-style: solid;
  font-weight: bold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.valid-key {
  background-color: rgb(61, 175, 43);
}

.invalid-key {
  background-color:rgb(184, 73, 116);
}

.quiz-container {
  background: var(--diamond-blue); /* Blue background */
  position: relative;
  padding: 20px;
  border-radius: 10px;
  width: 75%;
  height: fit-content;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-top: 5%;
  margin-bottom: 5%;
}

.quiz-container-o {
  display: grid;
  grid-template-rows: auto auto;
  margin: 1em;
}