footer {
    background-color: var(--british-khaki);
    display: grid;
    grid-template-columns: 65% 35%;
}

.github-name-links {
    display: flex;
    justify-content: space-around;
}

.api-key-form {
    display: grid;
    grid-template-columns: 75% 20% 5%;
}