footer {
    background-color: var(--dawn-dish-blue);
    display: grid;
    grid-template-columns: 65% 35%;
}

.github-name-links {
    max-height: 2em;
    display: flex;
    justify-content: space-around;
}

.github-logo-contaier {
    display: flex;
    justify-content: center;
    object-fit: contain;
  }
  
  .github-logo {
    max-height: 100%;
  }
  
  .github-links {
    background-color: var(--gift-wrap-purple);
    text-decoration: inherit;
    color: var(--off-white);
    border: 20% solid var(--gift-wrap-purple);
    border-radius: 5px;
  }
  
  .github-links:hover {
    background-color: var(--dark-royal-blue);
  }
  

.api-key-form {
    display: grid;
    grid-template-columns: 75% 20% 5%;
}