.quiz-select{
    column-gap: normal;
}

.quiz-link-select-container {
    background-color: var(--diamons-blue);
}

.select-quiz-link {
    text-align: center;
    background-color: var(--diamons-blue);
    border: 2px solid var(--diamons-blue);
    border-radius: 5%;
    font-size: calc(10px + 2vmin);
    color: var(--british-khaki);
    text-decoration: inherit;
}

.quiz-select {
    background-color: var(--diamons-blue);
    display: flex;
    align-items: center;
    column-gap: normal;
    margin: 1rem
}
