
.quiz-link-select-container {
    background-color: var(--diamond-blue);
    border: 2px solid var(--diamond-blue);
    border-radius: 0.25em;
}

.select-quiz-link-text {
    --bg-color: var(--dark-royal-blue);
    background-color: var(--bg-color);
    border: 1em solid var(--bg-color);
    border-radius: 0.25em;
    margin: 0.25em;
}

.select-quiz-link {
    text-align: center;
    font-size: calc(10px + 2vmin);
    color: var(--british-khaki);
    text-decoration: inherit;
}

.quiz-select {
    display: flex;
    align-items: center;
    column-gap: 2em;
    margin: 1rem
}